*.html
*.old
.gitignore
### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
# Built Visual Studio Code Extensions
*.vsix
build.ps1
GPO-Archive_V1.0.zip
Publish.ps1
To-Do.txt
.github/*
# Local History for Visual Studio Code
.history/
.vs/*
.vscode/*
Artefacts/*
Docs/*
Example/*
Examples/Logs/*
Ignore/*
Lib/Default/*
Lib/Standard/*
Lib/Core/*
Output/*
Releases/*
ReleasedUnpacked/*
Tests/*
Sources/.vs
Sources/*/.vs
Sources/*/obj
Sources/*/bin
Sources/*/*/obj
Sources/*/*/bin
Sources/packages/*
