To-Do.txt
*.html
Publish.ps1
build.ps1
Ignore/*
.vs/*
.vscode/*
Examples/Output/*
Examples/Logs/*
Releases/*
Artefacts/*
ReleasedUnpacked/*
Sources/.vs
Sources/*/.vs
Sources/*/obj
Sources/*/bin
Sources/*/*/obj
Sources/*/*/bin
Sources/packages/*
Lib/Default/*
Lib/Standard/*
Lib/Core/*
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix
### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
