name: CI
on: [push]
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@main

    - name: Generate docs
      uses: Microsoft/ps-docs@v0.1.0
